* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
body {
    background-color:rgb(167, 175, 175);
}

#container {
    background-color: rgb(62, 147, 175);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}
h2 {
    text-align: center;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

#input {
    border: none;
    border-radius: 5PX;
    width: 350px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
}

#button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color:rgb(102, 107, 107);
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 0 16px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

#button:hover {
    opacity: 0.8;
}

#button:active {
    opacity: 0.6;
}

#list {
    width: 100%;
    list-style: none;
    margin-top: 30px;
    font-size: 14px;   
}

.itens-list {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}


img {
    height: 20px;
}

.concluida {
    background-color: rgb(142, 171, 84);
}

.excluida {
    background-color: rgb(255, 0, 0);
    text-decoration: line-through;
}